.header {
    padding: 25px;
    border-bottom: #b6b6b6;
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 25px;
}

.logo {
    display: flex;
    align-items: center;
}

